<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://eladskeletonfunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fc13baad-bd5a-495e-903a-70ffb77d10de/resourcegroups/skeletonResourceGroup/providers/Microsoft.Web/sites/eladSkeletonFunctionApp</ResourceId>
    <UserName>$eladSkeletonFunctionApp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://eladskeletonfunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>